body {
  font-family: 'Lato',
  sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


.heading-container {
  left: 5vw;
  top: 30vh;
  width: 25vw;
  color: white;
  position: fixed;
  z-index: 1;
}

.heading {
  font-size: 3vw;
}

.subheading {
  color: grey;
  font-size: 1.1vw;
}

.location-window {
  display: none;
  position: fixed;
  background-color: black;
  color: white;
  opacity: 0.7;
  z-index: 1;
  padding: 1vh 0.8vw 1vh 0.8vw;
  border-radius: 1vh;
}
.location-window p, h2 {
  margin: 0;
}

.location-text {
  font-size: 22px;
}

.more-info {
  display: none;
  font-size: 1.2vw;
  width: 15vw;
  position: fixed;
  top: 30vh;
  right: 10vw;
  opacity: 0.7;
  z-index: 1;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  color: white;
}

.info-country {
  font-size: 1.8vw;
}

.info-country-container {
  border-bottom: 2px solid white;
  padding: 0 3vh 1vh 1vh;
  display: inline-block;
}
