canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.location-window {
  display: none;
  position: fixed;
  background-color: black;
  color: white;
  opacity: 0.7;
  z-index: 1;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
}
.location-window p, h2 {
  margin: 0;
}

.location-text {
  font-size: 22px;
}

.more-info {
  display: none;
  font-size: 1.2vw;
  width: 15vw;
  position: fixed;
  top: 30vh;
  right: 10vw;
  background-color: #EEEEEE;
  opacity: 0.7;
  z-index: 1;
  padding: 10px 16px 10px 16px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow:
    0 0 30px 15px #fff,  /* inner white */
    0 0 50px 30px rgb(129, 129, 129), /* middle magenta */
    0 0 70px 45px rgb(72, 72, 72); /* outer cyan */
  color: black;
}

